{% extends "base.html" %}

{% block content %}
<section class="text-gray-700 body-font">
    <div class="flex mb-4">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex items-center flex-wrap -m-4 text-center">
                <div class="flex-1">
                    <p>Registration Number:</p>
                    <input type="text" id="RegNo" onkeyup="getRegNo()" placeholder="Search for Registration"
                        title="Type in a name"
                        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
                <div class="flex-1">
                    <p>Exit Date: </p>
                    <input type="date" id="exitDate" onkeyup="getExitDate()" placeholder="Search with date"
                        class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-700 body-font">
    {% if history|length < 1 %}
    <h4 style="text-align: center" class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">NO HISTORY!</h4>
    {% elif current_user.role == "Admin" %}
    <div class="container mx-auto flex">
        <table id="myTable" class="text-left w-full border-collapse">
            <thead>
                <tr>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Registration Number</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Name</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Entry Time</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Exit Time</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Stayed Time</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Entry Employee</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Exit Employee</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Phone</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Parking Charge</th>
                </tr>
            </thead>
            <tbody>
                {% for data in history %}
                <tr class="hover:bg-grey-lighter">
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.rc }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.name }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.entry_time }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.exit_time }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.time_stayed }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.entry_empname }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.exit_empname }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.phone }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">₹ {{ data.parking_charge }}0</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="container mx-auto flex">
        <table id="myTable" class="text-left w-full border-collapse">
            <thead>
                <tr>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Registration Number</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Name</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Entry Time</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Exit Time</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Stayed Time</th>
                </tr>
            </thead>
            <tbody>
                {% for data in history %}
                <tr class="hover:bg-grey-lighter">
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.rc }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.name }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.entry_time }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.exit_time }}</td>
                    <td class="py-4 px-6 border-b border-grey-light">{{ data.time_stayed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</section>
<script type="text/javascript">
    function getRegNo() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("RegNo");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function getExitDate() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("exitDate");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}