<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Files</title>
</head>
<body>
    <h1>PDF Docs</h1>
    <hr>
        <ul>
            <li><a href="{{url_for('static', filename='diptanil-ip-cs-final.pdf')}}" target="_blank">Download PDF Docs</a></li>
        </ul>
    <br>
    <h1>View Files</h1>
    <hr>
    <h2>Project Layout</h2>
    <img src="{{url_for('static', filename='project-layout.png')}}" alt="Project Layout" style="display: block;margin-left: auto;margin-right: auto;width: 30%;border-style:dotted;">
    <br>
    <h2>Programming Files</h2>
    <ul>
        <li><h3>Python Files</h3></li>
        <ul>
            <li><a href="/view/__init__.py.html">app/__init__.py</a></li>
            <li><a href="/view/forms.py.html">app/forms.py</a></li>
            <li><a href="/view/models.py.html">app/models.py</a></li>
            <li><a href="/view/routes.py.html">app/routes.py</a></li>
            <li><a href="/view/config.py.html">config.py</a></li>
            <li><a href="/view/parkwithflask.py.html">parkwithflask.py</a></li>
        </ul>
        <br>
        <li><h3>HTML Templates</h3></li>
        <ul>
            <li><a href="/view/403.html">app/templates/403.html</a></li>
            <li><a href="/view/404.html">app/templates/404.html</a></li>
            <li><a href="/view/base.html">app/templates/base.html</a></li>
            <li><a href="/view/entry.html">app/templates/entry.html</a></li>
            <li><a href="/view/exit-car.html">app/templates/exit-car.html</a></li>
            <li><a href="/view/exit.html">app/templates/exit.html</a></li>
            <li><a href="/view/forget-password.html">app/templates/forget-password.html</a></li>
            <li><a href="/view/history.html">app/templates/history.html</a></li>
            <li><a href="/view/index.html">app/templates/index.html</a></li>
            <li><a href="/view/login.html">app/templates/login.html</a></li>
            <li><a href="/view/manage-parking.html">app/templates/manage-parking.html</a></li>
            <li><a href="/view/manage-user.html">app/templates/manage-user.html</a></li>
            <li><a href="/view/register-successful.html">app/templates/register-successful.html</a></li>
            <li><a href="/view/register.html">app/templates/register.html</a></li>
            <li><a href="/view/update-user.html">app/templates/update-user.html</a></li>
        </ul>
        <li><h3>Miscellaneous</h3></li>
        <ul>
            <li><a href="/view/requirements.txt.html">requirements.txt</a></li>
        </ul>
    </ul>
    <hr>
    <h4 style="text-align:center;">Developed by Diptanil Saha, Ankit Singh and Rajarshi Pal</h4>
</body>
</html>